* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
  }
  
  header {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100vw;
  }

  h1 {
    font-size: 2rem;
  }

  main {
    display: block;
    margin: 10px auto;
    width: 80vw;
    /* overflow-x: auto; */
  }
  
  table {
    background-color: #eee;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
}

th {
  padding: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left,black, red,black);
  color: brown;
}

.borda-topo {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

td {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px 5px;
  font-weight: 600;
}


tr:nth-child(even) {
  background-color: #ffdddd;
  color: brown;
}