* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
  }
  
  header {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 20px 0;
  }

  h1 {
    font-size: 2rem;
  }
  
  main {
    display: block;
    background-color: #eee;
    margin: 10px auto;
    width: 100vw;
    /* overflow-x: auto; */
  }
  
  table {
    padding: 5px;
    width: 100%;
  }
  
  .table-questions {
    font-weight: 600;
  }
  
  .table-head {
  text-align: center;
  margin-top: 10px;
  padding: 20px 0 25px 0;
  border-style: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left,black, red,black);
  color: brown;
}

.borda-topo {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

td {
  border: 1px solid #333;
  padding: 8px 5px;
  border-style: solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left,black, red,black);
}

.table-members tr:nth-child(even) ,li:nth-child(even) {
  color: brown;
}

ul {
  padding-left: 10px;
  list-style-position: inside;
  list-style-type: square;
}

ol {
  margin-left: 10px;
  list-style-position: inside;
  list-style-type: lower-alpha;
}

li {
  margin-bottom: 2px;
  border: 1px solid #333;
  padding: 8px 5px;
  border-style: solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left,black, red,black);
}

li + p {
  margin: 2px 0 10px 0;
  color: brown;
  background-color: #e0e0e0;
  border: 1px solid #333;
  padding: 8px 5px;
  border-style: solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left,black, red,black);
}

.table-questions tr:nth-child(even) {
  background-color: #e0e0e0;
  color: brown;
  font-weight: normal;
}

.table-form {
  width: 100vw;
  margin: 0 auto 40px;
  padding: 10px;
  border: 1px solid #333;
}

textarea{
  width: 100%;
  height: 10vh;
  margin: 0 auto;
}

.elements {
  display: block;
  padding: 3px 0;
  align-items: center;
}

.elements [type="text"], .elements [type="email"] {
  width: 100%;
}